// Catppuccin Macchiato palette
$color-background = #24273a
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 12%)
$color-background-code = lighten($color-background, 6%)
$color-border = #5b6078
$color-scrollbar = #494d64
$color-meta = #b8c0e0
$color-meta-code = lighten($color-meta, 8%)
$color-link = #c6a0f6
$color-text = #cad3f5
$color-accent-3 = #a5adcb
$color-accent-2 = #f5bde6
$color-accent-1 = #c6a0f6
$color-quote = #ed8796
$highlight = hexo-config("highlight") || "rainbow"
