// Catppuccin Frappé palette
$color-background = #303446
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 12%)
$color-background-code = lighten($color-background, 6%)
$color-border = #626880
$color-scrollbar = #51576d
$color-meta = #b5bfe2
$color-meta-code = lighten($color-meta, 8%)
$color-link = #ca9ee6
$color-text = #c6d0f5
$color-accent-3 = #a5adce
$color-accent-2 = #f4b8e4
$color-accent-1 = #ca9ee6
$color-quote = #e78284
$highlight = hexo-config("highlight") || "rainbow"
