// Catppuccin Latte palette
$color-background = #eff1f5
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 12%)
$color-background-code = darken($color-background, 6%)
$color-border = #acb0be
$color-scrollbar = #bcc0cc
$color-meta = #5c5f77
$color-meta-code = darken($color-meta, 8%)
$color-link = #8839ef
$color-text = #4c4f69
$color-accent-3 = #6c6f85
$color-accent-2 = #ea76cb
$color-accent-1 = #8839ef
$color-quote = #d20f39
$highlight = hexo-config("highlight") || "rainbow"
